@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@300&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Ysabeau SC", sans-serif;
  font-size: 1rem;
}

body {
  background-image: url(./Images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dbcb98;
}

.main {
  height: 90%;
  width: 80%;
  background-color: #dbcb984d;
  border-radius: 20px;
  box-shadow: 0px 0px 20px gray;
}

.col_1 {
  display: flex;
  justify-content: center;
  /* background-color: #dbcb98; */
}

input {
  border: none;
  outline: none;
  padding: 10px;
  /* padding-right: 10px; */
  background-color: #dbcb98;
  border-radius: 50px;
  width: 80%;
}

button {
  background-color: #dbcb98;
  border: none;
  outline: none;
  width: 10%;
}

input::placeholder {
  text-align: center;
  font-size: 20px;
  color: black;
}

.text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.text_1 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: bold;
}

.box{
    width: 200px;
    background-color: #dbcb98;
    border-radius: 50px;
    display: flex;
}

img{
  width: 40px;
  height: 40px;
}